In [7]:
#LAB1-02/04/2026
import pandas as pd

#to load csv file into the dataframe
df=pd.read_csv("/content/sample_data/housing.csv")

#to display the info of all columns
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
#to display statistical info of all numerical columns
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [9]:
#to display the count of unique labels for "ocean proximity"
df["ocean_proximity"].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [11]:
#to display which attributes in a dataset have missing values count greater than zero
df.isnull().sum()[df.isnull().sum()>0]

total_bedrooms    207
dtype: int64

In [14]:
#DATA PREPROCESSING
import pandas as pd
import numpy as np

df=pd.read_csv("/content/sample_data/Dataset of Diabetes .csv")

df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [15]:
#handling missing values
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [16]:
#handle categorical values
df["Gender"]=df["Gender"].map({"Male":1,"Female":0})
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,NaN,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,NaN,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,NaN,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,NaN,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,NaN,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [17]:
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [19]:
def remove_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    return df[(df[col] >= lower) & (df[col] <= upper)]


num_cols = ['AGE','Urea','Cr','HbA1c','Chol','TG','HDL','LDL','VLDL','BMI']

# keep original
df_clean = df.copy()

print("Initial shape:", df_clean.shape)

for col in num_cols:
    before = df_clean.shape[0]
    df_clean = remove_outliers_iqr(df_clean, col)
    after = df_clean.shape[0]
    print(f"{col}: removed {before - after} rows")

print("Final shape:", df_clean.shape)

Initial shape: (678, 14)
AGE: removed 19 rows
Urea: removed 11 rows
Cr: removed 0 rows
HbA1c: removed 0 rows
Chol: removed 3 rows
TG: removed 5 rows
HDL: removed 0 rows
LDL: removed 0 rows
VLDL: removed 0 rows
BMI: removed 0 rows
Final shape: (640, 14)

In [21]:
df_clean.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
5,634,34224,NaN,45,2.3,24,4.0,2.9,1.0,1.0,1.5,0.4,21.0,N
6,721,34225,NaN,50,2.0,50,4.0,3.6,1.3,0.9,2.1,0.6,24.0,N
7,421,34227,NaN,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,N
13,132,34234,NaN,45,4.6,54,5.1,4.2,1.7,1.2,2.2,0.8,23.0,N
14,402,34235,NaN,50,3.5,39,4.0,4.0,1.5,1.2,2.2,0.7,24.0,N

In [22]:
df_clean.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,640.000000,6.400000e+02,0.0,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000
mean,337.056250,6.886962e+04,NaN,55.139063,4.495938,57.698437,8.459469,4.769687,2.100937,1.109969,2.569359,0.990625,29.627500
std,236.607934,3.599098e+05,NaN,5.075120,1.379908,16.934967,2.492399,1.084874,0.958464,0.318731,0.991912,0.445502,4.503374
min,2.000000,1.230000e+02,NaN,42.000000,1.100000,22.000000,2.000000,2.000000,0.300000,0.400000,0.600000,0.100000,19.000000
25%,119.500000,2.405675e+04,NaN,52.000000,3.500000,45.000000,6.800000,4.075000,1.400000,0.900000,1.800000,0.700000,26.000000
50%,305.500000,3.436600e+04,NaN,55.000000,4.400000,56.000000,8.200000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,522.250000,3.457925e+04,NaN,59.000000,5.400000,70.000000,10.200000,5.500000,2.600000,1.300000,3.300000,1.300000,33.000000
max,800.000000,7.565435e+06,NaN,69.000000,8.200000,106.000000,14.800000,7.500000,4.600000,1.900000,5.500000,2.100000,39.000000